*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    max-height: 920px;
    background-color: #ADD8E6;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}


/* logo link  */

.flexLogo{
    width: 1200px;
    min-height: 40px;
    background-color: #daa520;
    display: flex;
    margin: 20px auto 10px auto;


}

.logo{
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    width: calc((100% / 5) * 3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexTitolo{
    width: 100%;
    min-height: 500px;
    background-color: #00008b;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
    
   
  
}

.titolo{
    width: 910px;
    height: 400px;
    background-color: #ee82ee;
    display: flex;
   
}




/* sections body  */


.sectionW{

    min-height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 


.sectionG{

    min-height: 600px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionGrande{
    min-height: 1000px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.boxG{
    width: 720px;
    height: 500px;
    background-color: #1e90ff;
}

.boxP{
    width: 360px;
    height: 500px;
    background-color: #ffc0cb;

}

.boxgreen{
    width: 1200px;
    height: 900px;
    background-color: #228b22;

}


