*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    max-height: 920px;
    background-color: #ADD8E6;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}


/* logo link  */

.flexLogo{
    width: 1200px;
    min-height: 40px;
    background-color: #daa520;
    display: flex;
    margin: 20px auto 10px auto;


}

.logo{
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    width: calc((100% / 5) * 3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexTitolo{
    width: 100%;
    min-height: 500px;
    background-color: #00008b;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
    
   
  
}

.titolo{
    width: 910px;
    height: 400px;
    background-color: #ee82ee;
    display: flex;
   
}




/* sections body  */


.sectionW{

    min-height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 


.sectionG{

    min-height: 600px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionGrande{
    min-height: 1000px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.boxG{
    width: 720px;
    height: 500px;
    background-color: #1e90ff;
}

.boxP{
    width: 360px;
    height: 500px;
    background-color: #ffc0cb;

}

.boxgreen{
    width: 1200px;
    height: 900px;
    background-color: #228b22;

}



/****** footer  **********/


footer{
    max-width: 1200;
    min-height: 740px;
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.boxSelection{
    max-width: 1200;
    min-height: 630px;
    padding-top: 10px;
    margin-bottom: 40;
    display: flex;
    justify-content: center;
   
  
}

.boxRS{
    width: 400px;
    height: 580px;
    background-color: #f08080;

}

.boxS{
    width: 200px;
    height: 580px;
    background-color: #20b2aa;
}
    
.boxSPiccola{
    width: 1200;
    height: 80px;
   
    background-color: #7fffd4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fineLogo{
    width: 70px;
    height: 40px;
    background-color: #20b2aa;
    display: flex;
    align-items: center;
}


.bottone{
    width: 90px;
    height: 40px;
    background-color: #20b2aa;
    display: flex;
    align-items: center;
}

   
  




